{% extends 'base.html.twig' %}

{% block body %}
    <div class="contentContainer">
    <div class="cvFormContainer">
    {{ form_start(form) }}
    <div class="cvFullName">
        {{ user.fullName }}
    </div>
    <div class="cvFormName">
    {{ form_widget(form.name) }}
    </div>
    {{ form_widget(form) }}

    {{ form_end(form) }}
    <div>
    </div>
{% endblock %}