<div class="cv_componentContainer">
    <div class="cvView">
<p><a href="{{ path('view_cv', {'id': cv.id}) }}">View CV</a></p>
    </div>
    <div class="cvUsername">
<a href="{{ path('cv_user', {'username' : cv.user.username}) }}">{{ cv.user.fullName }}</a>
    </div>
    {% if is_granted('delete', cv ) %}
        <div class="cvDelete">
            <a href="{{ path('delete_cv', {'id': cv.id}) }}">Delete</a>
        </div>
    {% endif %}
        {% if is_granted('edit', cv ) %}
            <div class="cvEdit">
            <a href="{{ path('edit_cv', {'id': cv.id}) }}">Edit</a>
            </div>
        {% endif %}
    <div class="cvAbout">
    <p>{{ cv.about }}</p>
    </div>
</div>