{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="loginFormContainer">
    <div class=“loginFormTitle”>Sign Up</div>
    {{ form_start(registrationForm) }}
    <div class=“loginFormItem”>
        {{ form_widget(registrationForm.email) }}
    </div>
    <div class=“loginFormItem”>
        {{ form_widget(registrationForm.username) }}
    </div>
    <div class=“loginFormItem”>
        {{ form_widget(registrationForm.fullName) }}
    </div>
    <div class=“loginFormItem”>
        {{ form_widget(registrationForm.plainPassword) }}
    </div>
    <div class=“loginFormItem”>
        {{ form_row(registrationForm.picture) }}
    </div>
    <div class=“loginFormButton”>
        <button>Sign Up</button>
    </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
